.product-list {
  list-style: none;
  width: 93%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 21px;
  padding-left: 5px;

  .product-list-item {
    position: relative;
    border: grey solid 2px;
    border-radius: 4px;
    background-color: white;
  }

  .fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: chocolate;

    &:hover {
      transform: scale(1.2);
    }

  }
}